<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_RYDZsYJQhtrp1Q82nUlDVCRxRGtoSiQ</string>
	<key>GCM_SENDER_ID</key>
	<string>867873477247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.uco.cyang19.tiktokapp</string>
	<key>PROJECT_ID</key>
	<string>tiktok-flutter-84b85</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-flutter-84b85.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867873477247:ios:c455cbfef504e113eee54a</string>
</dict>
</plist>